table{
  width: 100%;
  // background-color: lightblue;
  border: 0.5px solid grey;
  box-shadow: 1px 6px 21px 7px rgba(0,0,0,0.18);
  table-layout: fixed;
  // max-width: 500px
}

th {
  background-color: #9D9D9D;
  color: white;
}
td{
  // word-break: break-all;
  // word-wrap:break-word;
  white-space:nowrap;
  overflow: hidden;
}

th, td{
  text-align: center;
  padding: 5px;
  border: 0.5px solid grey;

}



